.article-preview__content{
    display: flex;
    padding: $s-size 0;
    justify-content: space-between;
    align-items: center;
}

.article-preview__title{
    line-height: 1;
}

.article-preview__subtitle{
    line-height: 1;
}

.article-preview__image{
    width: 30rem;
    height: 20rem;
    object-fit: cover;
}