.article-preview__content {
  display: flex;
  padding: $s-size 0;
  justify-content: space-between;
  align-items: center;
}

.article-preview__title {
  line-height: 1;
  word-break: break-all;
}

.article-preview__subtitle {
  line-height: 1;
  word-break: break-all;
}

.article-preview__image {
  object-fit: cover;
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: inline;
    width: 30rem;
    height: 20rem;
  }
}

.article-preview__date {
  font-style: italic;
}

.article-preview__author {
  font-style: italic;
}

.article-preview__date::before {
  content: " - ";
}

.article-preview__right {
  margin-left: $s-size;
}

.article-preview__right__toolbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $desktop-breakpoint) {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
}
