.footer__content {
  padding: $m-size 0;
  display: flex;
  align-items: center;
  border-top: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

.footer__github-icon {
  margin-left: $s-size;
}
